<div class="container-login">
    <div class="form-login">
        <h2 class="form-tittle">Recupera tu contraseña</h2>
        <p class="resultado">{{ resultado }} </p>
        <div class="form">
            <label for="email">Correo</label>
            <div class="form-input">
                <input type="email" name="correoUsuario" id="correoUsuario" />
            </div>
            <label for="passwordUsuario">Contrseña antigua</label>
            <div class="form-input">
                <input type="password" name="passwordUsuario" id="passwordUsuario" />        
            </div>
            <label for="passwordUsuarioNueva">Contrseña nueva</label>
            <div class="form-input">
                <input type="password" name="passwordUsuarioNueva" id="passwordUsuarioNueva" />        
            </div>
            <button class="form-submit" type="submit" value="login" (click)="recovery()">Cambiar contraseña</button>
            <div class="container-extra">                
                <button class="button-register-access" (click)="showFormLogin()">Volver</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="buttonsAngular">
    <button (click)="showFormRegister()" class="">Registrarse</button>
    <button (click)="saludar()" class="">Saludar</button>
    <button (click)="mostrarMensaje()" class="">Mostrar mensaje</button>
</div>
<div class="resultsAngular">
    <h1>{{ saludo}} </h1>
    <h1>{{ message }}</h1>
</div> -->