<div class="container-register">
    <div class="form-register">
        <h2>Registro</h2>
        <div class="form">
            <label for="nombre">Nombre</label>
            <div class="form-input">
                <input type="text" name="nombre" id="name" >
            </div>            
            <label for="apellido">Apellido</label>
            <div class="form-input">
                <input type="text" name="" id="lastname">
            </div>             
            <label for="tel">Telefono</label>
            <div class="form-input">
                <input type="tel" name="tel" id="phone">
            </div>            
            <label for="email">Email</label>
            <div class="form-input">
                <input type="email" name="" id="email" />
            </div>            
            <label for="password">Contrseña</label>
            <div class="form-input">
                <input type="password" name="" id="password" />
            </div>            

            <button (click)="saveUser()" class="form-submit" type="button" value="register">Registro</button>
        </div>
        <div class="container-extra">            
            <p>¿Ya tienes cuenta?</p>
            <button class="button-register-access" (click)="showFormLogin()">Inicia sesión</button>
        </div>
    </div>
    <h1>{{ resultado }} </h1>
</div>